* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.design {
  background-color: #213c53 !important;
  color: white;
  text-decoration: none; }

.container-section {
  display: flex; }

.navbar-nav {
  font-size: 15px;
  color: #213c53 !important;
  font-weight: 600; }

.card-border {
  border: #213c53;
  border-radius: 20px;
  overflow: hidden; }

.item {
  display: flex; }

.list item {
  text-decoration: none !important;
  list-style: none !important;
  display: flex;
  display: inline-block; }

.list a {
  text-decoration: none;
  color: #213c53 !important; }

.links {
  display: inline-block; }

.contact {
  color: #213c53;
  font-weight: bold; }

.new {
  font-size: 30px;
  color: #213c53;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; }

.form-select {
  background-color: #eafffd;
  border-width: unset; }

.form-label {
  color: #213c53;
  font-weight: normal; }

.form-control {
  background-color: #eafffd;
  border-width: unset; }

.sociales {
  color: #213c53; }

.btn-primary {
  background-color: #213c53;
  border-width: unset; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container img {
  margin: auto; }

.galeria .col-lg-4 {
  padding: 25px;
  margin: 0 !important; }

.galeria img {
  width: 100%;
  height: 250px;
  position: relative; }

.imagen {
  position: relative;
  display: inline-block; }

.image__overlay {
  position: absolute;
  color: #153781;
  top: 400px;
  padding-left: 200px;
  font-size: 15px;
  font-weight: bold;
  opacity: 100%; }
  .image__overlay:hover {
    opacity: 1.3;
    transition: 3seg;
    filter: sepia(70%); }

@media screen and (max-width: 415PX) {
  .image__overlay {
    position: absolute;
    top: -20px;
    left: 1;
    padding-left: 25px;
    padding-right: 35px;
    opacity: 100%;
    transition: 1.4s;
    border-radius: 10px;
    width: 93%;
    height: 100%; } }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-section {
  display: flex; }

.navbar-nav {
  font-size: 15px;
  color: #213c53 !important;
  font-weight: 600; }

.dropdown-menu {
  font-size: 12px;
  color: #273754 !important; }

.container-oferta {
  text-align: center;
  background-color: #567fd8 !important;
  font-size: 30px; }

.oferta {
  font-size: large; }

.item {
  display: flex; }

.iniciar {
  font-size: x-large; }

.list item {
  text-decoration: none !important;
  display: flex;
  display: inline-block; }

.links {
  display: inline-block; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-oferta {
  text-align: center;
  background-color: #567fd8 !important; }

.oferta {
  font-size: large; }

.item {
  display: flex; }

.list item {
  text-decoration: none !important;
  display: flex;
  display: inline-block; }

.links {
  display: inline-block; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-oferta {
  text-align: center;
  background-color: #567fd8 !important; }

.oferta {
  font-size: large; }

.item {
  display: flex; }

.list item {
  text-decoration: none !important;
  display: flex;
  display: inline-block; }

.links {
  display: inline-block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container img {
  margin: auto; }

.galeria .col-lg-4 {
  padding: 25px;
  margin: 0 !important; }

.galeria img {
  width: 100%;
  height: 250px;
  position: relative; }

.imagen {
  position: relative;
  display: inline-block; }

.image__outlet {
  position: absolute;
  color: #153781;
  top: 65px;
  padding-left: 250px;
  font-size: 15px;
  font-weight: bold;
  opacity: 100%; }
  .image__outlet:hover {
    opacity: 1.3;
    transition: 3seg;
    filter: sepia(70%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-section {
  display: flex; }

.navbar-nav {
  font-size: 15px;
  color: #213c53 !important;
  font-weight: 600; }

.dropdown-menu {
  font-size: 12px;
  color: #273754 !important; }

.container-oferta {
  text-align: center;
  background-color: #567fd8;
  font-size: 30px; }

.oferta {
  font-size: large; }

.item {
  display: flex; }

.list item {
  text-decoration: none !important;
  display: flex;
  display: inline-block; }

.links {
  display: inline-block; }
