* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-description {
  display: flex;
  text-align: center;
  font-size: 15px;
  justify-content: center; }

.design {
  background-color: #213c53 !important;
  color: white;
  text-decoration: none; }

.container-section {
  display: flex; }

.navbar-nav {
  font-size: 15px;
  color: #213c53 !important;
  font-weight: 600; }

.dropdown-menu {
  font-size: 12px;
  color: #273754; }

.card-border {
  border: #213c53 !important;
  border-radius: 20px;
  overflow: hidden; }

.item {
  display: flex; }

.list item {
  text-decoration: none !important;
  list-style: none !important;
  display: flex;
  display: inline-block; }

.list a {
  text-decoration: none;
  color: #213c53 !important; }

.links {
  display: inline-block; }

.firma {
  text-align: center; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-section {
  display: flex; }

.navbar-nav {
  font-size: 15px;
  color: #213c53 !important;
  font-weight: 600; }

.dropdown-menu {
  font-size: 12px;
  color: #273754 !important; }

.container-oferta {
  text-align: center;
  background-color: #567fd8 !important;
  font-size: 30px; }

.oferta {
  font-size: large; }

.item {
  display: flex; }

.iniciar {
  font-size: x-large; }

.list item {
  text-decoration: none !important;
  display: flex;
  display: inline-block; }

.links {
  display: inline-block; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-oferta {
  text-align: center;
  background-color: #567fd8 !important; }

.oferta {
  font-size: large; }

.item {
  display: flex; }

.list item {
  text-decoration: none !important;
  display: flex;
  display: inline-block; }

.links {
  display: inline-block; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-oferta {
  text-align: center;
  background-color: #567fd8 !important; }

.oferta {
  font-size: large; }

.item {
  display: flex; }

.list item {
  text-decoration: none !important;
  display: flex;
  display: inline-block; }

.links {
  display: inline-block; }

.caja {
  position: relative;
  display: inline-block; }
  .caja .texto1 {
    position: absolute;
    top: 430px;
    right: 55%;
    font-weight: inherit;
    font-size: 12px;
    color: #213c53 !important; }

.title-labue {
  color: #213c53 !important;
  text-align: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.container-section {
  display: flex; }

.navbar-nav {
  font-size: 15px;
  color: #213c53 !important;
  font-weight: 600; }

.dropdown-menu {
  font-size: 12px;
  color: #273754 !important; }

.container-oferta {
  text-align: center;
  background-color: #567fd8;
  font-size: 30px; }

.oferta {
  font-size: large; }

.item {
  display: flex; }

.list item {
  text-decoration: none !important;
  display: flex;
  display: inline-block; }

.links {
  display: inline-block; }
