
.title-labue {
	color: rgb(33, 60, 83) !important;
	text-align: right;
	margin-right: 25px;
	margin-top: 20px;
	font-size: 35px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.design{
	background-color:rgb(33, 60, 83) !important;
	color: white;
	text-decoration: none;
}

.container-section {
	display: flex;
}
.navbar-nav{
	font-size: 15px;
	color: rgb(33, 60, 83) !important;
	font-weight: 600;

}

.card-border {
	border: rgb(33, 60, 83);
	border-radius: 20px;
	overflow: hidden;
}

.item {
	display: flex;
}
.list {
	item {
		text-decoration: none !important;
		list-style: none !important;
		display: flex;
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: rgb(33, 60, 83) !important;
	}
}
.links {
	display: inline-block;

}

.contact{
	color: rgb(33, 60, 83);
	font-weight: bold;
}
 .new{
	 font-size: 30px;
	 color: rgb(33, 60, 83);
	 font-family: Verdana, Geneva, Tahoma, sans-serif;
	 font-weight: bold;
 }

.form-select{
	background-color: rgb(234, 255, 253);
	border-width:unset;
}
.form-label{
	color:rgb(33, 60, 83);
	font-weight: normal;
}
.form-control{
	background-color: rgb(234, 255, 253);
	border-width:unset;
}
.sociales{
	color: rgb(33, 60, 83);
}

.btn-primary{
	background-color: rgb(33, 60, 83);
	border-width:unset;
}