*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container img{
    margin: auto;
}

.galeria .col-lg-4{
    padding: 25px;
    margin: 0 !important;
}

.galeria img{
    width: 100%;
    height: 250px;
    position: relative;
}

.imagen{
    position: relative;
    display: inline-block;
}

.image__outlet{
    position: absolute;
    color: rgb(21, 55, 129) ;
    top:65px;
    padding-left:250px;
    font-size: 15px;
    font-weight: bold;
    opacity: 100%;

    &:hover{
        opacity: 1.3;
        transition: 3seg;
        filter: sepia(70%);
    }
}
