.title-labue {
	color: rgb(33, 60, 83);
	text-align: right;
	margin-right: 25px;
	margin-top: 20px;
	font-size: 35px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-oferta {
	text-align: center;
	background-color: rgb(86, 127, 216);
}
.oferta {
	font-size: large;
}
.item {
	display: flex;
}
.list {
	item {
		text-decoration: none;
		display: flex;
		display: inline-block;
	}
}
.links {
	display: inline-block;
}
